@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body    {
    font-family: "poppins:wght@400",sans-serif;
    padding-top: 90px;
}
img     {
    max-width: 100%;
    
}
.container  {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 20px;;
    align-items: center;
    background-color: #ffffff;
    z-index: 10;

}
.menu   {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
   width: 120px;
   border-bottom:none;
   justify-content:space-between;
   align-items: center;
   padding: 0px;
   margin: 10px 0 20px -30px;   
   cursor: pointer; 
    }

.menu .navbar ul li     {
    position: relative;
    float:left;    
    margin: 0 10px;
}

.menu .navbar ul li a   {
    font-size: 20px;
    margin: 10px;
    padding: 5px 5px;
    color:#2C2B2B;
    display:block;
    text-transform: uppercase;

}

.menu .navbar ul li a:hover {
    background-color: #111111d0;
    border-radius: 10%;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
#menu   {
    display: none;
}

.menu-icono     {
    width: 25px;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;



}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu  {
    display: inline-flex;
    position:relative;
    justify-content: space-between;
    width: 35px;
    padding: 0%;
    margin: 10px;
}

.submenu #carrito   {
    display: none;
}

.submenu:hover #carrito     {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table       {
    width: 100%;
}

th, td  {
    color: #ffffff;
}
.borrar     {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content  {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    background-size: cover;
    background-position: center;


    
}

.header-img  {
    width: 100%;
    height: auto;
    display: block;
    
    
}



.categoria-1{
    display: block;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    padding: 35px;
    margin: 20px;
}

.cat-img{
    position: relative;
    flex-basis: 50%;
    margin-right: 15px;
}


.cat-txt {
    flex-basis: 50%;
    text-align: center;
}

.categoria-1 .btn-2 {
    position:absolute;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    font-size: 25px;


}



.btn-2  {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111be;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    

}

.products   {
    padding: 50px 0;
    text-align: center;
}

.products h2 {
    color: #111111;
    font-family: "Oswald" , sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.product-content    {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product    {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 20px 30px; 
    width: 300px;

    
}

.product-img-container{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;

}

.product-img-container img-first.chirl {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.icon-fav  {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 60px;
    right: 10px;
    z-index: 2;
    cursor: pointer;

}

.product h3{
    font-size: 20px ;
    color: #111111;
    font-family:"Oswald" , sans-serif ;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio  {
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio     {
    font-weight: 800;
}

.icons  {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icons-1    {
    flex-basis: calc(33.3% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color:#0808081c;
}

.icon-img img{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px 30px 20px;
}

.icon-credit{
    width: 60px;
}


.icon-txt {
    flex-basis: 70%;
    display: inline;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.icon-txt h3    {
    font-size: 15px;
    color: #111111;
    font-family: "poppins:wght@500", sans-serif;
    margin-bottom:5px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.icon-txt p     {
    font-family: "poppins:wght@400",sans-serif;
    font-size: 16px;
    color: #111111;
    display: inline;
    text-align: center;
}

.icons-redes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin:40px 0;
    position: relative;
    z-index: 5;

}

.icons-img{
    position: relative;
    width: 60px;
    height: 60px;
}

.icons-circulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 1;


}

.img-redes{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    
    
    
}

.footer {
    padding: 40px 0;
    background-color: #111111;
}

.footer-content {
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    padding: auto;
    margin: 0 100vh 0 50px;
}

 .copy {
    color: #ffffff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    
    display: flex;
    text-align:center;
    justify-content: center;
    
}


.link h3{
    font-size: 18px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:768px)    {
    .menu   {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: absolute;
        background-color: #ffffff;
        
        
        
    }
    .logo{
        display: flex;
        width: 120px;
        height: auto;
        margin: 0 0 20px 10px; 
        position:relative;
        
    }
    
   
    .menu label {
        display: flex;
        cursor: pointer;
        margin-top: 110px;
        margin-inline-start: -210px;
        padding: 20px;

        
      
        
    }

    .menu-icono{
        width: 30px;
        height: auto;
        cursor: pointer;

    }
    

    .menu .navbar   {
        position: static;
        display: none;
        background-color: #111111;
        padding: 10px 0;
        text-align: right;
        }

    .menu .navbar ul li {
        display: inline-block;
        align-items: center;
        }

    .menu .navbar ul li {
       padding: 10px 10px;
    }

    .menu .navbar ul li a   {
        color: #ffffff;
        text-decoration: none;;
    }

    #menu:checked ~ .navbar{
        display: block;

    }


    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header {
        height: 40px;
        background-color: #ffffff;
    
    }

    .header-content {
        padding: 50px 0;
        flex-direction: column;
        

    }

    .header-img{
        display:block;
        width: 100%;
        height: auto;
        padding:0;     
        margin:0;
        flex-direction: column;
        object-fit: cover;
        object-position: center;
       
        
    }

    .categoria-1  {
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .categoria-1{
        margin-bottom: 30px;
    }

    .products   {
        padding: 50px 0;
        text-align: center;
      


    }

    .product h2{
        margin-bottom: 30px;
    }

   .product-img-container{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

}

   .product-img-container .chirl{
    width: 100%;
    height: 100%;
    display: block;

}

    .product img    {
        width: 300px;
        height: 400px;
    }

    .product .icon-fav  {
         width: 60px;
         height: 60px;
         position: absolute;
         bottom: 10px;
         right: 10px;
         z-index: 2;
         cursor: pointer;
        
    }

    .icons{
        padding: 30px;
        flex-direction: column;
    }

    .icons-1    {
        margin-bottom: 30px;
    }

    

    .footer{
        display:block;
        justify-content: space-between;
        width: 100%;
        padding: 150px;
        align-items: center;
        text-align: center;
       
        
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        text-align:unset;
        align-items: center;
        padding: 0%;
        margin: auto;
    }

    .link h3 {
        text-align: center;
        margin: 35px;
    }


    
}




